{% load static %}
<articles class="d-flex gap-3 flex-column">
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <div class="card-title text-center">
                        <span class="badge bg-primary bg-opacity-10 text-primary p-2 shadow-sm text-truncate w-100" style="font-size: 1rem;">
                            {{ answer.author }}
                        </span>
                    </div>
                    <div class="border mb-2 w-100">
                        {% if answer.author.profile.avatar %}
                            <img src="{{ answer.author.profile.avatar.url }}" alt="{{ answer.author.username }}" class="img-fluid">
                        {% else %}
                            <img src="{% static 'images/question.jpg' %}" alt="Default avatar" class="img-fluid">
                        {% endif %}
                    </div>
                    <div class="btn-group d-flex">
                        <button type="button" data-answer-like-id="{{ answer.id }}" class="btn btn-outline-success like-btn" style="border-right: 1px solid gray">
                            <span class="count" data-like-counter="{{ answer.id }}">{{ answer.likes_count }}</span>
                        </button>
                        
                        <button type="button" data-answer-dislike-id="{{ answer.id }}" class="btn btn-outline-danger dislike-btn" style="border-left: 1px solid gray">
                            <span class="count" data-dislike-counter="{{ answer.id }}">{{ answer.dislikes_count }}</span>
                        </button>
                    </div>
                </div>
                
                <div class="col d-flex flex-column justify-content-between">
                    <div>
                        <p class="card-text">{{ answer.text }}</p>
                    </div>
                    <div class="mt-2">
                    {% if request.user.is_authenticated and question.author.username == request.user.username %}
                        <input type="radio" class="btn-check" name="correct-answer" id="btn-check{{ answer.id }}" autocomplete="off"
                        {% if answer.isCorrect %} 
                        checked
                        {% endif %}
                        onclick="onRightAnswerClick(event)"
                        data-question-id="{{answer.question.id}}"
                        data-answer-id="{{answer.id}}"
                        >
                        <label class="btn btn-outline-success" for="btn-check{{ answer.id }}">Correct!</label>
                    </div>
                    {% else %}
                        {% if answer.isCorrect %} 
                            <b style="color: green">Correct answer!</b>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>