{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AskPeople</title>
    <link href="{% static "/bootstrap/css/bootstrap.css" %}" rel="stylesheet" />
    <link href="{% static "/bootstrap/css/bootstrap.css"%}" rel="stylesheet" />
    <link href="{% static "/css/styles.css" %}" rel="stylesheet" />
</head>

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <div class="d-flex gap-2 align-items-center">
                <div style="width: 60px;">
                    <img src="{% static "/images/logo.svg" %}" class="img-fluid" alt="logo">
                </div>
                <a class="navbar-brand" href="{% url 'index' %}">AskPeople</a>
            </div>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <a href="{% url "ask" %}" class="btn btn-outline-success" type="submit">Ask</a>
            </form>

            {% if request.user.is_authenticated %}
                <div class="d-flex gap-2 align-items-center">
                    <div class="border" style="width: 60px; height: 60px;">
                        {% if request.user.profile.avatar %}
                            <img src="{{ request.user.profile.avatar.url }}" class="img-fluid" alt="avatar">
                        {% else %}
                            <img src="{% static 'images/avatar.jpeg' %}" class="img-fluid" alt="avatar">
                        {% endif %}
                    </div>
                    
                    <div class="content">
                        <div class="content__name">{{request.user.username}}</div>
                        <div class="content__links">
                            <a href="{% url 'edit' %}">Settings</a>
                            <a href="{% url 'logout' %}">Log out</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="d-flex gap-3 align-items-center">
                    <a href="{% url 'login' %}" class="btn btn-outline-primary">Log in</a>
                    <a href="{% url 'signup' %}" class="btn btn-primary">Register</a>
                </div>
            {% endif %}

        </div>
    </nav>

    <main class="container mt-2 flex-grow-1">
        <div class="row">
            <section class="col">
                {% block content %}
                {% endblock %}
            </section> 
            
            <aside class="col-md-3 col-lg-2">
                <section class="mb-3">
                    <h3>Popular tags</h3>
                        {% for tag in popular_tags %}
                            <a href="{% url 'tag' tag.name %}" class="text-decoration-none badge rounded-pill text-bg-{{ tag.get_color }} mb-1">{{ tag.name }}</a>
                        {% empty %}
                            <div>There are no popular tags yet</div>
                        {% endfor %}
                </section>
        
                <section>
                    <h3>Best members</h3>
                        <div class="card-title text-center mb-2">
                            <span class="badge bg-primary bg-opacity-10 text-primary p-2 shadow-sm text-truncate w-100" style="font-size: 1rem;">John Doe</span>
                        </div>
                        <div class="card-title text-center mb-2">
                            <span class="badge bg-primary bg-opacity-10 text-primary p-2 shadow-sm text-truncate w-100" style="font-size: 1rem;">Jane Smith</span>
                        </div>
                        <div class="card-title text-center mb-2">
                            <span class="badge bg-primary bg-opacity-10 text-primary p-2 shadow-sm text-truncate w-100" style="font-size: 1rem;">Mike Johnson</span>
                        </div>
                        <div class="card-title text-center mb-2">
                            <span class="badge bg-primary bg-opacity-10 text-primary p-2 shadow-sm text-truncate w-100" style="font-size: 1rem;">Sarah Williams</span>
                        </div>
                </section>
            </aside>
        </div>
        <div bg-red></div>
    </main>

    <footer class=" bg-dark text-white py-3 mt-auto">
        <div class="container text-center">
            <p class="mb-0">&copy; 2025 AskPeople. All rights reserved.</p>
        </div>
    </footer>
    <script src="{% static '/bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>
</html>