<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
            {% if page_obj.previous_page_number > 2 %}
                <li class="page-item"><span class="page-link">...</span></li>
            {% endif %}
            {% if page_obj.previous_page_number > 1 %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}
        {% endif %}

        {% if page_obj.number %}
            <li class="page-item"><a class="page-link" href="">{{ page_obj.number }}</a></li>
        {% endif %}

        {% if page_obj.has_next %}
            {% if page_obj.next_page_number < page_obj.paginator.num_pages %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number}}</a></li>
            {% endif %}
            {% if page_obj.next_page_number|add:"1" < page_obj.paginator.num_pages %}
                <li class="page-item"><span class="page-link">...</span></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>