{% load static %}
<article class="card mb-3" >
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <div class="border mb-2 w-100">
                    <img src="{% static 'images/question.jpg' %}" alt="img" class="img-fluid">
                </div>
                <div class="btn-group d-flex">
                    <button type="button" class="btn btn-outline-success like-btn" style="border-right: 1px solid gray">
                        <span class="count">5</span>
                    </button>
                    
                    <button type="button" class="btn btn-outline-danger dislike-btn" style="border-left: 1px solid gray">
                        <span class="count">2</span>
                    </button>
                </div>
            </div>
            
            <div class="col d-flex flex-column justify-content-between">
                <div>
                    <h5 class="card-title">
                        <a href="{% url "question" question.id %}">{{ question.title }}</a>
                    </h5>
                    <p class="card-text">
                        {{question.text}}
                    </p>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="{% url "question" question.id %}">Answers ({{ page_obj.paginator.count }})</a>
                    </div>
                    <div class="col">
                        <span>Tags:</span>
                        <span class="badge rounded-pill text-bg-primary">Primary</span>
                        <span class="badge rounded-pill text-bg-secondary">Secondary</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</article>