{% load static %}
<article class="card mb-3" >
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <div class="card-title text-center">
                    <span class="badge bg-primary bg-opacity-10 text-primary p-2 shadow-sm text-truncate w-100" style="font-size: 1rem;">
                        {{ question.author }}
                    </span>
                </div>
                <div class="border mb-2 w-100">
                    <img src="{% static 'images/question.jpg' %}" alt="img" class="img-fluid">
                </div>
                <div class="btn-group d-flex">
                    <button type="button" class="btn btn-outline-success like-btn" style="border-right: 1px solid gray">
                        <span class="count">{{ question.likes_count }}</span>
                    </button>
                    
                    <button type="button" class="btn btn-outline-danger dislike-btn" style="border-left: 1px solid gray">
                        <span class="count">{{ question.dislikes_count }}</span>
                    </button>
                </div>
            </div>
            
            <div class="col d-flex flex-column justify-content-between">
                <div>
                    <h5 class="card-title">
                        <a href="{% url "question" question.id %}">{{ question.title }}</a>
                    </h5>
                    <p class="card-text">
                        {{question.text}}
                    </p>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="{% url "question" question.id %}">Answers ({{ question.answer_set.count }})</a>
                    </div>
                    <div class="col">
                        <span>Tags:</span>
                        {% for tag in question.tags.all %}
                            <a href="{% url 'tag' tag.name %}" class="text-decoration-none badge rounded-pill text-bg-{{ tag.get_color }}">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>