{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8">
        <h1>User Settings</h1>

        <form class="user-form">

            <div class="mb-3">
                <div class="mb-2">Login</div>
                <input type="text" class="form-control is-invalid" id="userUsername" value="Pepper"
                placeholder="Leave blank to keep current" maxlength="30">
                <div class="error-message">Login is already taken</div>
            </div>

            <div class="mb-3">
                <div class="mb-2">Email address</div>
                <input type="email" class="form-control" id="userEmail" value="user@example.com" 
                placeholder="Leave blank to keep current" maxlength="100">
            </div>

            <div class="mb-3">
                <div class="mb-2">Nickname</div>
                <input type="text" class="form-control" id="userUsername" value="Dr. Pepper"
                placeholder="Leave blank to keep current" maxlength="30" required>
            </div>

            <div class="mb-4">
                <div class="mb-2">New password</div>
                <input type="password" class="form-control" id="userPassword"
                    placeholder="Leave blank to keep current" maxlength="50">
                <div class="form-hint">Minimum 8 characters</div>
            </div>

            <div class="mb-2">Profile image</div>
            <div class="mb-4 text-center">
                <input type="file" class="form-control" id="avatarUpload" accept="image/*">
                <div class="form-hint">JPEG or PNG, max 2MB</div>
            </div>

            <div class="gap-2">
                <button type="submit" class="btn btn-success">Save Changes</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}