{% extends "layouts/base.html" %}
{% load static %}

{% load bootstrap5 %}
{% block content %}
    <div class="d-flex align-items-center gap-4 mb-4">
        <h1>{{ question.title }}</h1>
    </div>
    {% include 'layouts/question.html' %}
    
    <h3 class="mt-5 mb-3">Answers ({{ page_obj.paginator.count }})</h3>

    {% for answer in answers %}
    {% include 'layouts/answer.html' %}
    {% endfor %}


    {% include 'layouts/pagination.html' %}
    {% if user.is_authenticated %}
        <div class="answer-form">
            <h3>Your Answer</h3>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-success px-4">Answer</button>
                {% endbuttons %}
            </form>
        </div>
    {% else %}
        <div class="alert alert-info">
            Please <a href="{% url 'login' %}?continue={{ request.path }}">login</a> to post an answer.
        </div>
    {% endif %}
{% endblock %}

